.section {
  position: relative;
  height: 8600px;
  width: 100%;
  z-index: 1;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    max-width: 100%;
  }

  .header {
    position: relative;
    text-align: center;
    padding-top: 10em;

    p {
      font-size: 2em;
      text-align: center;
      color: white;
      margin-bottom: 0.5em;
    }
    h2 {
      color: white;
      font-size: 6em;
      text-align: center;
      font-family: serif;
      margin-bottom: 0.4em;
    }
  }
  .content {
    padding-top: 4em;
    width: 92%;
    margin: 0 4%;
    margin-bottom: 30em;
    .goods-card {
      background-color: white;
      border-radius: 1.4em;
      min-height: 400px;
      text-align: center;
      padding-bottom: 10em;
      margin-bottom: 6em;
      .order {
        text-align: center;
        position: relative;
        height: 20em;
        z-index: 2px;
        padding-top: 6em;
        padding-bottom: 2em;
        img {
          position: absolute;
          width: 20em;
          transform: translateX(-44%);
          z-index: 0;
        }
        h5 {
          font-size: 2.6em;
          color: black;
          font-family: serif;
          padding-top: 1.6em;
          color: #034381;
          z-index: 4;
          position: relative;
        }
        h2 {
          font-size: 6em;
          color: black;
          font-family: serif;
          color: #034381;
          z-index: 4;
          position: relative;
        }
      }
      .title {
        display: inline-block;
        position: relative;
        text-align: center;
        color: #034381;
        font-size: 6em;
        margin-bottom: 0.5em;
        z-index: 1;
        font-weight: 500;

        &.small {
          font-size: 4em;
        }
        &.no-bottom-line {
          &::after {
            display: none;
          }
        }
        &.overflow-bottom-line {
          &::after {
            max-width: 60vw;
            left: 6%;
          }
        }

        &::after {
          content: "";
          width: 140%;

          position: absolute;
          bottom: -12px;
          left: -22%;
          height: 16px;
          background-color: #ffbd45;
          z-index: -1;
        }
        sup {
          font-size: 0.4em;
          vertical-align: super;
          position: relative;
          top: -0.5em;
        }
      }
      .subtitle {
        text-align: center;
        font-size: 4em;
        line-height: 1.4em;
        letter-spacing: 6px;
        color: #034381;
        margin-bottom: 2em;
        &.small {
          font-size: 2.6em;
        }
        &.bold {
          font-weight: bold;
        }
        .small-text {
          font-size: 0.5em;
          display: inline-block;
          color: #034381;
        }
      }
      .pic {
        width: 80%;
        margin: 0 10%;
      }
      .desc {
        text-align: left;
        font-size: 2em;
        line-height: 1.6em;
        letter-spacing: 6px;
        margin: 0 10%;
        margin-top: 1.5em;
        margin-bottom: 2em;
      }
      .tips {
        text-align: left;
        margin: 0 10%;
        font-size: 1.6em;
        line-height: 2em;
        margin-top: 0.5em;
        color: #555;
        sup {
          font-size: 0.6em;
          vertical-align: super;
          position: relative;
          top: 0.1em;
        }
      }
    }
  }
  .footer {
    text-align: center;
    position: relative;
    text-align: center;
    h1 {
      font-size: 6.8em;
      color: white;
      font-family: serif;
      padding-bottom: 0.2em;
    }
    .tip {
      font-size: 2em;
    }
  }
}
