.section {
  position: relative;
  height: 2400px;
  width: 100%;
  z-index: 1;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    max-width: 100%;
  }

  .header {
    text-align: center;
    img {
      padding-top: 8em;
      width: 90%;
      margin: 0 auto;
    }
  }
  .content {
    text-align: center;
    img {
      padding-top: 4em;
      width: 90%;
      margin: 0 auto;
    }
    p {
      margin-top: 2em;
      margin-bottom: 6em;
      margin-left: 6%;
      text-align: left;
      font-size: 1.4em;
      color: #555;
    }
  }
  .footer {
    text-align: center;
    img {
      width: 100%;
      margin: 0 auto;
    }
  }
}
